<div class="page-header">
  <h3>Farmer #<%= @farmer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @farmer.name %></dd>

      <dt>Location</dt>
      <dd><%= @farmer.location %></dd>

      <dt>Image</dt>
      <dd><%= @farmer.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/farmers" class="btn btn-primary">
        Back
      </a>
      <a href="/farmers/<%= @farmer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_farmer/<%= @farmer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
